<div class="card">
    <h5 class="card-header">Dados da Consulta</h5>
    <div class="card-body">
        <div class="row">
            <div class="col col-sm-6">
                <label for="exampleInputEmail1">Especialidade</label>
                <select class="form-control" id="selecaoPerfilId">
                    <option>Clínico Geral</option>
                    <option>Dentista</option>
                    <option>Nutricionista</option>
                    <option>Cardiologista</option>
                    <option>Pediatria</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputPassword1">Data</label>
                <input type="date" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputPassword1">Horário</label>
                <input type="datetime" class="form-control" id="" placeholder="">
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <h5 class="card-header">Dados Pessoais</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Endereço</h5>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="exampleInputEmail1">CEP</label>
                                <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group col-sm-10">
                                <label for="exampleInputPassword1">Logradouro</label>
                                <input type="" class="form-control" id="" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="exampleInputEmail1">Numero</label>
                                <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group col-sm-10">
                                <label for="exampleInputEmail1">Complemento</label>
                                <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
                            </div>
                        </div>

                        <label for="exampleInputEmail1">Bairro</label>
                        <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="">

                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label for="exampleInputEmail1">Cidade</label>
                                <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail1">UF</label>
                                <select class="form-control" id="selecaoPerfilId">
                                    <option>SP</option>
                                    <option>MG</option>
                                    <option>BA</option>
                                    <option>RJ</option>
                                    <option>DF</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contato</h5>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="exampleInputEmail1">DDD</label>
                                <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="DDD">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail1">Telefone</label>
                                <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="55+ 11 4444-8888">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="exampleInputEmail1">DDD</label>
                                <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="DDD">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail1">Celular</label>
                                <input type="" class="form-control" id="" aria-describedby="emailHelp" placeholder="55+ 73 99999-9999">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-success mb-2">Vincular e Criar</button>
            </div>
        </div>
    </div>
</div>