
<form>
    <div class="card">
        <h5 class="card-header">Cadastro de Perfil</h5>
        <div class="card-body">
            <div class="row">
                <div class="col col-sm-6">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col col-sm-6">
                    <select class="form-control" id="selecaoPerfilId">
                        <option>Médico</option>
                        <option>Recepcionista</option>
                        <option>Gerente Administrativo</option>
                        <option>Auxiliar</option>
                        <option>Suporte Técnico</option>
                    </select>
                </div>
            </div>
        </div>
    </div>    
</form>

