<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatBotGO.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="styltop="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estilo.css"/>
</head>
<body>
    <div id=cab>
        <header id="cabecalho">
            <nav id=menu>
                <figure class=logo style="margin-left:240px;">
                    <img src="~/img/logo.png" />
                </figure>
                <ul style="margin:30px 0px 0px 180px;">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Início</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="FaleConosco">Fale Conosco</a>
                    </li>
                    @*<li>
                        <a asp-controller="RespostaChats" asp-action="Index">Respostas Chat</a>
                        </li>*@
                </ul>
            </nav>
        </header>

    </div>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
