@charset "UTF-8";

body {
    background-color: white;
    color: rgba(0,0,0,1);
}
p {
    text-align: justify;
    text-indent: 50px;
    color: gray;

}
h1#ola {
    text-align: center;
    border-bottom: 1px rgba(0,0,0,0.5) solid;
    margin-top: auto;
    margin-bottom: auto;
}

figure.logo {
    display: inline-block;
    margin-top: -5px;
    margin-bottom: auto;
}

figure.body {
    text-align: center;
    margin-top: auto;
}

div#interface{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
} div#interface p{
    border-bottom: 1px rgba(0,0,0,0.5) solid;
    
}
header#cabecalho {
    border-bottom: 1px rgba(0,0,0,0.5) solid;  
    margin-top: 10px;
}

nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top:0px;
    left: 300px;
}

nav#menu li {
    display: inline-block;
    background-color: white;
    padding: 30px 110px 30px 110px;
    margin: -15px 0px 0px 0px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: whitesmoke;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
    transition: font-weight; 
}

nav#menu a:hover{
    font-weight: 700;
}