@model IEnumerable<ChatBotGO.WebApp.Models.RespostaChat>
@{
    ViewData["Title"] = "Fale Conosco";
}

    <h1>Fale conosco</h1>

    <img src="~/img/medico.jpg">

    <p>Olá, caso não estaja conseguindo marcar sua consulta através do nosso chatbot, nos ligue no número (11)99999-9999 ou através do nosso email: avartesconsultorio@avartes.com.br<br>Espero que possamos te ajudar <br /> :)<br /><br />  </p>




   
   