@model IEnumerable<ChatBotGO.WebApp.Models.RespostaChat>
@{
    ViewData["Title"] = "Home Page";
}



<div id="interface">
    <h1 id=title>Fale conosco</h1>
</div>
<figure class="body">
    <img src="~/img/medico.jpg" width="550">
</figure>
<div id="interface">
    <p>Olá, caso não estaja conseguindo marcar sua consulta através do nosso chatbot, nos ligue no número (11)99999-9999 ou através do nosso email: avartesconsultorio@avartes.com.br<br>Espero que possamos te ajudar <br /> :)<br /><br />  </p>


</div>

<html>
<body>
    
</body>
</html>
   
   