@model IEnumerable<ChatBot_Web.Models.RespostaChat>
@{
    ViewData["Title"] = "Fale Conosco";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
        background: #7F7FD5;
        background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    }
</style>

<div id="interface">
    <h1 id=title>Fale conosco</h1>
</div>
<figure class="body">
    <img src="~/img/medico.jpg" width="550">
</figure>
<div id="interface">
    <p>Olá, caso não estaja conseguindo marcar sua consulta através do nosso chatbot, nos ligue no número (11)99999-9999 ou através do nosso email: avartesconsultorio@avartes.com.br<br>Espero que possamos te ajudar <br /> :)<br /><br />  </p>


</div>

<html>
<body>

</body>
</html>

